body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    font: #001858;
    font-family: Outfit;
}

#sidebar {
    width: 25vw;
    height: 100vh;
    background-color: #8BD3DD;
}

.not-sidebar {
    width: 75vw;
    height: 100vh;
    background-color: #FEF6E4;
}

.nav {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 5vh;
}

a {
    text-decoration: none;
    all: unset;
}

#sidebar .nav {
    left: 2.5%;
    width: 20%;
}

#sidebar-info {
    position: absolute;
    top: 15vh;
    left: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.assignment-info, .note-info {
    display: flex;
    gap: 5px;
}

.not-sidebar .nav {
    right: 0px;
    width: 40%;
}
.main {
    background-color: #F3D2C1;
    height: 83%;
    margin: 10% 2% 2% 2%;
    border: 1px solid black;
    text-align: center;
}

.non-desktop {
    display: none;
}


.info-block {
    background-color: #f582ae;
    text-align: center;
    width: 20vw;
    height: 15%;
}

#sidebar-info h2 {
    word-wrap: break-word;
}

.textbox-section {
    display: flex;
    align-items: space-between;
    justify-content: space-around;
    flex-direction: column;
    height: 76%;
}

.review-section {
    display: flex;
    align-items: space-between;
    justify-content: space-around;
    flex-direction: row;
    height: 76%;
}

.textbox-section a, .textbox-section button {
    background-color: #f582ae;
    border: none;
    border-radius: 15px;
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
}

.textbox-section h2 {
    margin: 0;
    padding: 0;
}

.flashcard-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cue, .response {
    border: 2px solid #001858;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    height: 80px;
    background-color: #fef6e4;
    border-radius: 15px;
    line-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note-body {
    width: 95%;
    height: 280px;
    resize: none;
}


.response {
    display: none;
}

.note-container {
    display: flex;
    align-items: center; /* This ensures vertical centering */
    justify-content: space-between; /* This spreads out the flex items */
    background: #F3D2C1;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note-title,
.note-content,
.edit-button {
    margin: 0 10px; /* Add spacing between elements */
}

.note-title {
    flex-basis: 20%;
    font-size: 1.5em;
    color: #333;
}

.note-content {
    flex-basis: 60%;
    font-size: 1em;
    color: #666;
    overflow-y: auto;
    padding-left: 10px;
}

.edit-button {
    flex-basis: 20%;
    padding: 10px;
    background: #f582ae;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.edit-button:hover {
    background: #0056b3;
}
/* tablet view */

@media only screen and (max-width: 768px) {

    #sidebar {
        display: none;
    }

    .non-desktop {
        display: inline;
    }

    .not-sidebar {
        width: 100%;
    }

    .not-sidebar .nav {
        right: 0px;
        width: 100%;
    }

    .main {
        height: 90%;
    }

    .nav {
        top: 3vh;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: max-content;
        cursor: pointer;
        z-index: 2;
    }

    #sidebar-closed-hamburger::before, #sidebar-closed-hamburger::after, #sidebar-closed-hamburger input {
        background-color: #8BD3DD;
    }

    #sidebar-open-hamburger::before, #sidebar-open-hamburger::after, #sidebar-open-hamburger input {
        background-color: #f582ae;
    }

    .hamburger-menu::before, .hamburger-menu::after, .hamburger-menu input {
        content: "";
        width: 60px;
        height: 6px;
        border-radius: 9999px;
        transform-origin: left center;
    }

    .hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    #sidebar-info {
        position: absolute;
        top: 15vh;
        left: 4vw;
    }

    #sidebar-info h2 {
        font-size: 10px;
    }

    .info-block {
        background-color: #f582ae;
        text-align: center;
        width: 15vw;
        height: 15%;
    }

    .textbox-section {
        height: 60%;
    }
}


/* mobile view */
@media only screen and (max-width: 600px) {

    .nav {
        top: 2vh;
    }
}

